

<div class="container">
    <h1 id="title">Lobby</h1>
    <div class="counter">
        <h2>
            Number of players joined: {{counter}}
        </h2>
    </div>
    <div class="rules">
        <ul>
            <li>
                You will be asked a question
            </li>
            <li>
                Players have 1 minute to provide responses to that question
            </li>
            <li>
                After 1 minute, players will vote who they think the imposter is
            </li>
            <li>
                Players will be given a point if they guess the AI correctly <br> AND if they fool others in thinking that they are an AI
            </li>
        </ul>
    </div>
    <div>
        <button (click)="onStartButtonClicked()">
            Start Game
        </button>
    </div>
    <div>
        <button (click)="leaveLobby()">
            Leave Lobby
        </button>
    </div>
</div>