

<div class="container">
    <h1 id="title">Lobby</h1>
    <div class="counter">
        <h2>
            Number of players joined: {{counter}}
        </h2>
    </div>
    <div class="rules">
        <ul>
            <li>
                Each round lasts 60 seconds
            </li>
            <li>
                You can ask and answer any question you like in each round
            </li>
            <li>
                At the end of each round, you must vote who to eliminate
            </li>
            <li>
                The person with the most votes will be kicked out
            </li>
        </ul>
    </div>
    <div>
        <button (click)="startGame()">
            Start Game
        </button>
    </div>
    <div>
        <button (click)="leaveLobby()">
            Leave Lobby
        </button>
    </div>
</div>