<div *ngIf="state === 'Vote'">
  <label id="example-radio-group-label"><h3>Find the AImposter!</h3></label>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="susPlayer">
    @for (player of players; track player) {
      <mat-radio-button class="example-radio-button" [value]="player"><h3>{{player}}</h3></mat-radio-button>
    }
  </mat-radio-group>
  <div><h3>You suspect the AImposter is: {{susPlayer}}</h3></div>
<!-- 
  <button (click)="sendVote()">
    Send Votes
  </button>

  <button (click)="seeResults()">
    Get vote results
  </button> -->
</div>
<!-- 
<div *ngIf="state === 'Results'" >
  <div *ngFor="let name of getVoteResultNames()">
    {{name}}
    {{voteResult[name]}}
  </div>

</div> -->