<table matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="playerName">Player</th>
        <th mat-sort-header="playerTotalScore">Total Score / pts</th>
        <th mat-sort-header="playerAisGuessed">AIs Guessed (1 pt)</th>
        <th mat-sort-header="playerPlayersFooled">Players Fooled (1 pt)</th>
    </tr>

    @for (player of sortedData; track player) {
    <tr>
        <td>{{ player.playerName }}</td>
        <td>{{ player.playerTotalScore }}</td>
        <td>{{ player.playerAisGuessed }}</td>
        <td>{{ player.playerPlayersFooled }}</td>
    </tr>
    }
</table>