<div class="container">
    <mat-card class="mat-card">
        <mat-card-content>
            <h1 class="game-phase-title">{{state}} Phase</h1>
            <div *ngIf="state === 'Chat' || state === 'Vote'" class="center-children-x">
                <time-progress-spinner [timerValue]="timerValue" [timerValueProportion]="timerValueProportion"></time-progress-spinner>
            </div>
        </mat-card-content>
    </mat-card>
</div>

<div *ngIf="state === 'Chat'">
    <play-chat></play-chat>
</div>

<div *ngIf="state === 'Vote'">
    <play-vote></play-vote>
</div>

<div *ngIf="state === 'Scoreboard'">
    <play-reveal></play-reveal>
</div>

<!-- <button (click)="changeStateToVote()">
    Vote
</button>

<button (click)="changeStateToChat()">
    Chat
</button>

<button (click)="changeStateToScoreboard()">
    Scoreboard
</button> -->