<div *ngIf="state === 'Chat' || state === 'Vote'">
    <!-- <time-progress-spinner [timeValue]="timerValue"></time-progress-spinner> -->
    Current Time Left: {{ timerValue }} {{ timerValueProportion }}
</div>

<div>
    Current game phase: {{state}}
</div>

<div *ngIf="state === 'Chat'">
    <play-chat></play-chat>
</div>

<!-- <div *ngIf="state === 'Vote'">
    <app-voting-page></app-voting-page>
</div>


<div *ngIf="state === 'Scoreboard'">
    <app-reveal-page></app-reveal-page>
</div> -->

<!-- <button (click)="changeStateToVote()">
    Vote
</button>

<button (click)="changeStateToChat()">
    Chat
</button>

<button (click)="changeStateToScoreboard()">
    Scoreboard
</button> -->