<div>
    <app-navbar></app-navbar> <!-- Include the NavbarComponent -->
    <!-- Other content of the homepage -->
</div>

<app-game-description *ngIf="showGameDescriptionAndButton"></app-game-description>
<app-play-button *ngIf="showGameDescriptionAndButton" (playClicked)="onPlayClicked()"></app-play-button>

<app-start-game-option-buttons (enterGameCodeClicked)="onEnterGameCodeClicked()" *ngIf="showNewGameOptions"></app-start-game-option-buttons>

<app-enter-game-code-screen *ngIf="showEnterGameCode"></app-enter-game-code-screen>